In [1]:
from datetime import date
import pandas as pd

In [9]:
def obtain_data(ticker,start,end):
# Enter the start and end dates using the method date(yyyy,m,dd)    
    stock=get_history(symbol=ticker,start=start,end=end)
    df=stock.copy()
    df=df.reset_index()
    df=df.drop(['Series','Prev Close','Last','Turnover','Trades',
                'VWAP', 'Volume', 'Deliverable Volume', 'Symbol','%Deliverble'],
               axis=1)
    df.index=df.Date
    return df

In [10]:
df_pricing=obtain_data('BAJFINANCE',date(2018,1,1),date(2020,9,1))

In [11]:
df_pricing

                  Date     Open     High      Low    Close
Date
2018-01-01  2018-01-01  1759.50  1760.00  1720.40  1725.65
2018-01-02  2018-01-02  1739.70  1739.70  1710.00  1724.65
2018-01-03  2018-01-03  1727.00  1738.35  1711.00  1715.30
2018-01-04  2018-01-04  1725.00  1758.25  1714.00  1754.00
2018-01-05  2018-01-05  1766.00  1821.00  1759.10  1814.50
...                ...      ...      ...      ...      ...
2020-08-26  2020-08-26  3665.00  3707.00  3631.00  3645.55
2020-08-27  2020-08-27  3656.95  3668.40  3596.40  3632.50
2020-08-28  2020-08-28  3650.00  3688.00  3617.05  3670.80
2020-08-31  2020-08-31  3715.00  3749.85  3465.00  3487.80
2020-09-01  2020-09-01  3517.00  3674.00  3500.20  3643.85

[659 rows x 5 columns]